@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  
}

@layer base {
  .section-heading{
    @apply text-[36px] mb-[30px] text-center leading-[46px] custom-480:text-[60px] custom-480:leading-[70px] md:text-[68px] md:leading-[78px] lg:text-[120px] lg:leading-[125px];
  }
  .dark-part{
    @apply text-white bg-black;
  }
  .light-part{
    @apply text-black bg-white;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
