@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-light: 255, 255, 255;
  --text-light: 0, 0, 0;

  --bg-dark: 0, 0, 0;
  --text-dark: 255, 255, 255;
}

body {
  color: rgb(var(--text-light));
  background-color: rgb(var(--bg-light));
}

.dark body {
  background-color: rgb(var(--bg-dark));
  color: rgb(var(--text-dark));
}

@layer base {
  .section-heading {
    @apply text-[36px] mb-[30px] text-center leading-[46px] custom-480:text-[60px] custom-480:leading-[70px] md:text-[68px] md:leading-[78px] lg:text-[120px] lg:leading-[125px];
  }
  .dark-part {
    background-color: rgb(var(--bg-dark));
    color: rgb(var(--text-dark));
  }
  .light-part {
    background-color: rgb(var(--bg-light));
    color: rgb(var(--text-light));
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
